@page "/"

<h3>Plants</h3>
<ul>
	@foreach (var plant in plants)
	{
		<li>@plant.PlantName - Watered: @plant.WaterLastTime.ToShortDateString() - Water needed: @plant.WaterRequirement</li>
	}
</ul>



@code {
	private List<Plant> plants;

	protected override async Task OnInitializedAsync()
	{
		// Create an instance of the DatabaseConnector class
		var dbConnector = new DatabaseConnector();
		plants = await dbConnector.GetPlantsAsync();
	}

}
