@page "/"
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Wässern</th>
            <th>Anpassen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Orchidee</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Rose</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Tulpe</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>Kaktus</td>
            <td>...</td>
            <td>...</td>
        </tr>
        

    </tbody>
</table>
<br />These entries are just static for design purpose...

@code {
    
}


